# Зависимости
node_modules/

# Собранные файлы
dist/

# Логи
logs/
*.log

# Переменные окружения
.env

# Файлы IDE и редакторов
.idea/
.vscode/
*.DS_Store

# Файлы QR-кодов, которые могут генерироваться приложением
qr_*.png 

package-lock.json